<!DOCTYPE html>
<html>
  <head>
    <title>LabFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="theme/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

  </head>

<body>

        <div id="wrapper">
            <% flash.each do |name, msg|%>
                <div class="container is-centered" id="flashBox">
                  <%= content_tag :div, class: " alert alert-#{ name == "notice" ? "primary" : "danger" } ", role: "alert" do %>
                      <p class="notice"><%= msg %></p>
                  <%end%>
                </div>
            <%end%>
              <%= render 'shared/nav' if current_user  %>
            <!-- ========== Left Sidebar Start ========== -->
            <div class="content-page">
                <div class="content" id="content">
                    <%= yield %>
                </div> 
                <%= render 'shared/footer' if current_user %>
            </div>
        </div>
        
    </body>
  
</html>
