<!DOCTYPE html>
<html>
  <head>
    <title>LabFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="theme/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="theme/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="theme/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" />

  </head>

<body>

        <!-- Begin page -->
        <div id="wrapper">
            <% flash.each do |name, msg|%>
                <div class="container is-centered" id="flashBox">
                  <%= content_tag :div, class: " alert alert-#{ name == "notice" ? "primary" : "danger" } ", role: "alert" do %>
                      <p class="notice"><%= msg %></p>
                  <%end%>
                </div>
            <%end%>
              <%= render 'shared/nav' if current_user  %>
            <!-- ========== Left Sidebar Start ========== -->
            <%= render 'shared/sidebar' if current_user %>
            <div class="content-page">
                <div class="content">
                    <%= yield %>
                </div> 
                <%= render 'shared/footer' if current_user %>
            </div>
        </div>

        <!-- Right Sidebar -->
          <%= render 'shared/rightsidebar'if current_user  %>
        <!-- /Right-bar -->
        <!-- Right bar overlay-->
        <div class="theme/dist/rightbar-overlay"></div>
        <!-- Vendor js -->
        <script src="theme/dist/assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="theme/dist/assets/js/app.min.js"></script>
        
    </body>
  
</html>
